@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* Dashboard */
.dashboard-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Left Panel */
.left-p1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #002979;
  overflow: hidden;
}

.left-p2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-p3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.logo img {
  width: 50%;
}

.dashboard,
.team {
  width: 100%;
  padding: 20px 0px;
}

.dashboard-list,
.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 10px 40px;
  gap: 15px;
  cursor: pointer;
}

.menu:hover {
  background: linear-gradient(55deg, hsla(219, 65%, 32%, 1), hsla(219, 65%, 32%, 0));
  border-left: 4px solid white;
  font-size: 18px;
}

.dash-icon {
  font-size: 18px;
}

.team h5 {
  width: 70%;
  text-align: left;
  font-size: 16px;
  color: #FFF;
  padding-bottom: 20px;
}

.upgrade {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px 20px 40px;
}

.upgrade-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 82, 204, 0.0599);
  padding: 25px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-family: DM Sans;
  line-height: 22px;
  letter-spacing: -0.4px;
  gap: 40px;
}

.upgrade-text {
  width: 100%;
  font-size: 16px;
}

.upgrade-icon {
  color: #002979;
  font-size: 50px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin: -45px auto -10px auto;
  cursor: pointer;
}

.upgrade-button {
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: #002979;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

/* Center Page */
.centerp1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  background-color: rgba(232, 239, 246, 1);
}

.centerp2 {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerp3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.welcome-textbox {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.welcome-textbox h4 {
  color: rgba(143, 146, 161, 1);
  font-size: 18px;
  font-weight: 300;
}

.hero-sect {
  width: 100%;
  background-color: #4778EC;
  color: white;
  padding: 5px 5px 0px 30px;
  display: flex;
  justify-content: center;
  border: 1px solid #4778EC;
  border-radius: 15px;
}

.hero-sect:hover {
  background-color: #002979;
  color: white;
}

.hstext-cont {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 0px 0px;
}

.hstext-cont h4 {
  font-size: 22px;
  font-weight: 700;
}

.hstext-cont p {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
}

.hsimage-cont {
  width: 20%;
  margin: auto 120px auto -70px;
}

.hsimage-cont img {
  width: auto;
}

.hsimage-cont img:hover {
  transform: scale(0.8);
}

.hsbutton {
  width: 40%;
  font-size: 14px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  color: rgba(71, 120, 236, 1);
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

/* Graph */
.bar-chart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar-chart img {
  width: 100%;
}

/* Document And Progress */
.doc-prog {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.doc {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.doc-text,
.prog-text {
  width: 100%;
}

.doc-text h4,
.prog-text h4 {
  color: #272835;
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.doc-tab {
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  justify-content: space-between;
  border-radius: 15px;
}

.doc-info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.doc-icon {
  font-size: 44px;
  color: rgba(143, 0, 255, 1);
  border-radius: 8px;
  background: #F3E4FF;
  padding: 10px;
}

.doc-record {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.doc-record h5 {
  color: #272835;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.doc-record p {
  color: #9E9E9E;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.doc-status p {
  color: #272835;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #E8EFF6;
  background-color: #E8EFF6;
  padding: 5px;
  border-radius: 5px;
}

.prog {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prog-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 2px 10px;
  background-color: rgba(255, 255, 255, 1);
  gap: 10px;
  border-radius: 15px;
}

.prog-icon {
  width: 100%;
  text-align: right;
}


.dot {
  font-size: 20px;
}

.prog-tab {
  width: 100%;
  padding: 5px 00px 2px 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.tab-icon {
  border-radius: 8px;
  background: #EAEEFD;
  padding: 15px;
  color: #272835;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.prog-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.prog-info h5 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.twin-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.prog-course {
  width: 60%;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.progress-bar {
  width: 30%;
  /* Adjust the width as needed */
  height: 10px;
  border: 1px solid #ccc;
  /* Optional border */
  overflow: hidden;
  border-radius: 10px;
}

.progress-bar-fill {
  width: 50%;
  /* Adjust the percentage as needed */
  height: 100%;
  float: left;
  background-color: rgba(255, 178, 0, 1);
  /* Adjust the color for the filled portion */
}

.progress-bar-remaining {
  width: 50%;
  /* Adjust the percentage as needed */
  height: 100%;
  float: left;
  background-color: rgba(255, 245, 204, 1);
  /* Adjust the color for the remaining portion */
}

.progress-bar-fill2 {
  width: 70%;
  height: 100%;
  float: left;
  background-color: #00ff00;
}

.progress-bar-remaining2 {
  width: 30%;
  height: 100%;
  float: left;
  background-color: rgba(209, 255, 219, 1);
}

.progress-bar-fill3 {
  width: 40%;
  height: 100%;
  float: left;
  background-color: rgba(255, 74, 74, 1);
}

.progress-bar-remaining3 {
  width: 60%;
  height: 100%;
  float: left;
  background-color: rgba(255, 215, 215, 1);
  /* Adjust the color for the remaining portion */
}


/* USER PANEL */
.userp1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(249, 248, 249, 1);
}

.userp2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userp3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 100px 0;
}

.counter-icon, .recent-icon {
  font-size: 20px;
}

.user-pic {
  background-color: rgb(177, 173, 173);
  border-radius: 100%;
  padding: 10px;
}

.counter-sect {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.upcoming, .recent, .latest {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upcoming-text, .recent-text, .latest-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upcoming-info, .recent-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.upcoming-bell {
  background-color: #FFE4C2;
  border-radius: 8px;
}

.ubell-icon {
  font-size: 44px;
  color: rgba(255, 173, 71, 1);
  padding: 10px;
}

.upcoming-record, .recent-record {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.upcoming-record h5, .recent-record h5 {
  color: #272835;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  white-space: nowrap;
}

.upcoming-time p, .recent-record p {
  color: #9E9E9E;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.upcoming-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.due {
  color: #FFAD47;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 10px  ;
}

.out-icon {
  font-size: 44px;
  color: rgba(0, 142, 19, 1);
  border-radius: 8px;
  background: #D4FFDA;
  padding: 10px;
}

.mic-icon {
  font-size: 44px;
  color: rgba(0, 138, 216, 1);
  border-radius: 8px;
  background: #E4FAFF;
  padding: 10px;
}

/* Latest */
.latest {
  width: 100%;
}